asn1crypto==1.5.1
bit==0.7.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.12
coincurve==18.0.0
idna==3.4
mysql==0.0.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
protobuf==4.21.12
pycparser==2.21
python-dotenv==1.0.0
requests==2.26.0
urllib3==1.26.16
